.jumbotron {
    padding: 0 10p;
}
#page-title {
  position: relative;
  width: 100%;
  color: white;
  background-color: #1f4a6f;
  font-family: "ubuntu", sans-serif;
  overflow: hidden;
}
#title-image {
  filter: alpha(opacity=80);
  opacity: 0.8;
  -moz-opacity: 0.8;
}
#page-title .container {
  min-height: 70vh;
  text-align: center;
  padding: 3rem 1rem;
}
#page-title .article-title {
    padding-bottom: 10px;
}
#page-title .article-title,
#page-title .article-subtitle {
  text-shadow: 0px 0px 40px black;
}
.blog {
    padding: 0 10px 10px 30px;
    background-color: #e5ded8;
}
.blog h1 {
    text-align: center;
    padding: 20px 0 10px 0;
}
.blog .blog-container {
    background: #fff;
    border-radius: 5px;
    box-shadow: hsla(0, 0, 0, .2) 0 4px 2px -2px;
    font-family: "adelle-sans", sans-serif;
    font-weight: 100;
    margin: 48px auto;
    width: 20rem;
    margin: 0 auto;
    padding: 1rem 1.5rem;
    margin-bottom: 5px;
}
.blog .blog-container .blog-details-btn {
padding-top: 10px;
}
.blog .blog-container a {
    color: #1f4a6f;
    text-decoration: underline;
}
@media screen and (min-width: 480px) {
    .blog .blog-container {
        width: 28rem;
    }
  }
  @media screen and (min-width: 767px) {
    .blog .blog-container {
        width: 40rem;
    }
  }
  @media screen and (min-width: 959px) {
    .blog .blog-container {
        width: 50rem;
    }
  }